.login{
    height: 350px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.575);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 52%;
    left: 65%;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, 0.507);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    }

.register{
    height: 500px;
    width: 650px;
    background-color: rgba(255, 255, 255, 0.575);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 52%;
    left: 60%;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, 0.507);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    }

    .input-group {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
      }
      
      .input-group input {
        flex: 1;
      }
      
      button {
        margin-top: 10px;
        margin-right: 10px;
      }